In [ ]:
import pandas as pd

from sklearn.metrics import mean_squared_error as mse
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import SGDRegressor
from sklearn.linear_model import  LinearRegression
from sklearn.model_selection import train_test_split

In [ ]:
datos = pd.read_csv('https://raw.githubusercontent.com/danielordonezg/machine-learning/main/cars_dataset.csv');

In [ ]:
df = pd.DataFrame(datos)

In [ ]:
df.head()

                       name  year  ...  transmission         owner
0             Maruti 800 AC  2007  ...        Manual   First Owner
1  Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2      Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3    Datsun RediGO T Option  2017  ...        Manual   First Owner
4     Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner

[5 rows x 8 columns]

In [ ]:
df.shape

(4340, 8)

In [ ]:
df.describe()

              year  selling_price      km_driven
count  4340.000000   4.340000e+03    4340.000000
mean   2013.090783   5.041273e+05   66215.777419
std       4.215344   5.785487e+05   46644.102194
min    1992.000000   2.000000e+04       1.000000
25%    2011.000000   2.087498e+05   35000.000000
50%    2014.000000   3.500000e+05   60000.000000
75%    2016.000000   6.000000e+05   90000.000000
max    2020.000000   8.900000e+06  806599.000000

In [ ]:
df.dtypes

name             object
year              int64
selling_price     int64
km_driven         int64
fuel             object
seller_type      object
transmission     object
owner            object
dtype: object

In [ ]:
df["name"].value_counts()

Maruti Swift Dzire VDI                          69
Maruti Alto 800 LXI                             59
Maruti Alto LXi                                 47
Maruti Alto LX                                  35
Hyundai EON Era Plus                            35
                                                ..
Hyundai Santro Xing XK (Non-AC)                  1
Volkswagen Vento Celeste 1.5 TDI Highline AT     1
Maruti Gypsy King Hard Top                       1
Mahindra Verito Vibe 1.5 dCi D6                  1
Maruti Celerio ZXI AMT BSIV                      1
Name: name, Length: 1491, dtype: int64

In [ ]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
df["name_code"] = ord_enc.fit_transform(df[["name"]])
df[["name", "name_code"]].head(30)

                                 name  name_code
0                       Maruti 800 AC      775.0
1            Maruti Wagon R LXI Minor     1041.0
2                Hyundai Verna 1.6 SX      505.0
3              Datsun RediGO T Option      118.0
4               Honda Amaze VX i-DTEC      279.0
5                Maruti Alto LX BSIII      812.0
6           Hyundai Xcent 1.2 Kappa S      545.0
7            Tata Indigo Grand Petrol     1256.0
8            Hyundai Creta 1.6 VTVT S      390.0
9            Maruti Celerio Green VXI      834.0
10            Chevrolet Sail 1.2 Base       75.0
11           Tata Indigo Grand Petrol     1256.0
12    Toyota Corolla Altis 1.8 VL CVT     1354.0
13                      Maruti 800 AC      775.0
14           Maruti Wagon R LXI Minor     1041.0
15               Hyundai Verna 1.6 SX      505.0
16             Datsun RediGO T Option      118.0
17              Honda Amaze VX i-DTEC      279.0
18               Maruti Alto LX BSIII      812.0
19          Hyundai Xcent 1.2 Kappa S      545.0
20           Tata Indigo Grand Petrol     1256.0
21           Hyundai Creta 1.6 VTVT S      390.0
22           Maruti Celerio Green VXI      834.0
23            Chevrolet Sail 1.2 Base       75.0
24           Tata Indigo Grand Petrol     1256.0
25    Toyota Corolla Altis 1.8 VL CVT     1354.0
26               Maruti Ciaz VXi Plus      861.0
27        Hyundai Venue SX Opt Diesel      496.0
28  Chevrolet Enjoy TCDi LTZ 7 Seater       69.0
29         Jaguar XF 2.2 Litre Luxury      610.0

In [ ]:
df.head()

                       name  year  ...         owner  name_code
0             Maruti 800 AC  2007  ...   First Owner      775.0
1  Maruti Wagon R LXI Minor  2007  ...   First Owner     1041.0
2      Hyundai Verna 1.6 SX  2012  ...   First Owner      505.0
3    Datsun RediGO T Option  2017  ...   First Owner      118.0
4     Honda Amaze VX i-DTEC  2014  ...  Second Owner      279.0

[5 rows x 9 columns]

In [ ]:
x=df['name_code']
y=df['selling_price']

In [ ]:
x1=df['name_code']
y1=df['selling_price']

In [ ]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.3)

In [ ]:
X_train = X_train.values.reshape([X_train.values.shape[0],1])
X_test = X_test.values.reshape([X_test.values.shape[0],1])

In [ ]:
X_train

array([[ 931.],
       [1257.],
       [1240.],
       ...,
       [1154.],
       [ 279.],
       [1066.]])

In [ ]:
X_test

array([[ 704.],
       [ 396.],
       [1017.],
       ...,
       [ 439.],
       [1262.],
       [1094.]])

In [ ]:
tittle=['Grado 0','Grado 1','Grado 2','Grado 3','Grado 5','Grado 6']

In [ ]:
colors=['blue','green','orange','yellow','pink','purple','red']

In [ ]:
from sklearn.linear_model import SGDRegressor

poly_features=PolynomialFeatures(degree=2)
X_poly=poly_features.fit_transform(X_train)


sgd = SGDRegressor(penalty=None, max_iter=5000, alpha=0)
sgd.fit(X_poly, y)

ValueError: ignored

In [ ]:
y_predict = sgd.predict(x_poly)


import matplotlib.pyplot as plt

for i in range (1,7):
  pos=i;
  poly_features=PolynomialFeatures(degree=i)
  X_poly=poly_features.fit_transform(X_train)
  Xt_poly=poly_features.fit_transform(X_test)
  poly_model=LinearRegression()
  poly_model.fit(X_poly,y_train)
  pred=poly_model.predict(X_poly)
  pred2=poly_model.predict(Xt_poly)
  xt,yt=zip(*sorted(zip(X_test,pred2))
  #X,y=zip(*sorted(zip(X_test,pred2))
  plt.subplot(2,3,pos)
  plt.plot(X,y,'-',color=colors[i],label=tittle[i],markersize=2)
  plt.plot(xt,yt,'+',color='black',markersize=5)
  plt.plot(x1,y1,'*',color='crimson',markersize=.7)
  plt.legend(loc=2)